.bodyContainer {
  padding: 3rem min(12rem, 8%);
  display: grid;
  grid-template-columns: 1fr 1.4fr;
  max-width: 100%;
  gap: 5rem;
}
.tasksContainer {
  padding: 0 2rem;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  height: 65vh;
  overflow-y: auto;
}
.task {
  display: flex;
  justify-content: space-between;
  align-items: center;
  list-style: none;
  background: linear-gradient(to bottom, #2c0a4c, #450d80);
  padding: 2rem;
  font-size: 1.6rem;
}

.btns {
  display: flex;
  gap: 2rem;
}

.btns button {
  all: unset;
  cursor: pointer;
  font-size: 2.8rem;
  color: #c3b3d8;
}

.taskName {
  word-break: break-word;
  white-space: pre-wrap;
  overflow-wrap: break-word;
}

.done .taskName {
  text-decoration: line-through;
}

@media (max-width: 768px) {
  .bodyContainer {
    grid-template-columns: 1fr;
    padding: 2rem;
    gap: 3rem;
  }

  .tasksContainer {
    height: auto;
    padding: 0;
  }

  .task {
    flex-direction: column;
    align-items: flex-start;
    gap: 1rem;
  }

  .btns {
    margin-top: 1rem;
    justify-content: flex-start;
  }
}
